services:

  cycle-browser-test-chrome:
    image: "docker.io/cyclelabs/cycle-cli:latest"
    #image: "cycledev.azurecr.io/cycledev/cycle:latest"
    shm_size: 2g
    volumes:
      - .:/code
    depends_on:
      - "chrome"
    command: ["--clientid", "${CI_CYCLE_AUTH}", "--client-credential", "${CI_CYCLE_AUTH_SECRET}", "-p", "/code", "combined/grocerio-browser-test-chrome.feature"]
    env_file:
      - secrets.env
    # environment:
    #   PW_ORACLE_DB: ${PW_ORACLE_DB}
    #   PW_SQL_DB: ${PW_SQL_DB}
    #   PW_DB2: ${PW_DB2}
    #   PW_MYSQL: ${PW_MYSQL}
    #   PW_SQL14_DB: ${PW_SQL14_DB}
    #   PW_TELNET: ${PW_TELNET}
    #   PW_MOCA: ${PW_MOCA}
    #   PW_AZURESQL: ${PW_AZURESQL}
    #   UN_AZURESQL: ${UN_AZURESQL}
    #   PW_OPENSSH: ${PW_OPENSSH}
    #   AUTH_TOKEN: ${AUTH_TOKEN}
    #   MAPS_API_KEY: ${MAPS_API_KEY}
    #   CI_CYCLE_AUTH: ${CI_CYCLE_AUTH}
    #   CI_CYCLE_AUTH_SECRET: ${CI_CYCLE_AUTH_SECRET}

  chrome:
    image: "selenium/standalone-chrome"
    environment:
      - CHROME_OPTS=--no-sandbox --disable-dev-shm-usage --headless
    volumes:
      - /dev/shm:/dev/shm
    # Used for M1 procs
    #image: "seleniarm/standalone-chromium"
    ports:
      - "4444:4444"
    hostname: chrome
    privileged: true
    shm_size: 2g
